h1{
    color: black;
}

.frame{
    background-color: #D9D9D9;
}

ul{
    list-style: none;
}

ul li{
    background-color: #757474;
    border-radius: 80px;
    color: white;
}

.respuesta{
    border: 1px solid #757474;
    border-radius: 99px;
    box-shadow: 3px 2px 10px #757474;
}